/* styles.css */

.container {
    max-width: 400px; 
    margin: 50px auto 0 auto; 
    padding: 20px; 
    background-color: #cacacac7; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
}

.form-label, .form-control, .btn {
    margin-bottom: 15px; 
}


